/* styles.css */
:root {
    --primary-color: #5eaebe;
    --secondary-color: #9e8ad7;
    --background-color: #ecf0f1;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

header {
    background-color: #f8f8f8;
    color: var(--secondary-color);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.button:hover {
    background-color: var(--secondary-color);
}
