{% extends 'layout.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
  </form>
  <button class="button" onclick="redirectToRegisterStudent()">Register as Student</button>
  <button class="button" onclick="redirectToRegisterTutor()">Register as Tutor</button>
  <script>
    function redirectToRegisterStudent() {
        window.location.href = 'register-student/';
    }
    function redirectToRegisterTutor() {
        window.location.href = 'register-tutor/';
    }
  </script>

{% endblock %}