{% extends 'users/layout.html' %}
{% block loginout %}
    {% with loggedIn=False %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
    <p>Not yet registered!</p>
    <a href="{% url 'student-signup' %}">Signup as Student</a><br>
    <a href="{% url 'tutor-signup' %}">Signup as Tutor</a>
</body>
</html>
{% endblock %}
